@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    /*Fonts*/
    --originalBold: 'Quicksand', sans-serif;;
    --topTitle: 'Open Sans', sans-serif;
    /*Colors*/
    --lightBlue: rgb(239, 250, 255);
    --blue: rgb(0 176 255);
    --darkBlue: rgb(30, 96, 116);
    --beige: rgb(255, 250, 219);
    --orange: rgb(255 136 0);
    --darkOrange: rgb(148, 100, 44);
    --grey: rgb(196, 196, 196);
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: var(--topTitle);
    background: black;
}
#app {
    margin: 80px 50px;
}
h1, h2 {
    font-family: var(--originalBold);
    font-size: 28px;
    text-align: center;
}
header {
    background-color: white;
    border-top: solid 2px #d62828;
    border-bottom: solid 2px var(--blue);
}
.name__img {
    display: inline-block;
    margin: 10px;
    display: flex;
    padding: 10px;
    margin: auto;
}
.name__img img {
    height: 50px;
    width: 60px;
}
.name__img h1 {
    color: black;
    margin: auto 0;
    padding-left: 10px;
}
.title__img {
    text-align: center;
}
.title__img img {
    height: 160px;
    width: 270px;
}
#app p {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    white-space: pre-line;
    color: white;
}
.container {
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 40px;
    width: 65%;
}
.card {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    height: 270px;
    margin-bottom: 25px;
}
.card__border {
    background: rgb(20, 20, 20);
    width: 180px;
    height: 250px;
    margin: auto;
    border-radius: 5px;
}
.card__border h2 {
    color: white;
    padding: 20px 20px 90px 20px;
    text-shadow: 0 0 3px white;
    margin: 0;
}
.card__border a{
    background: var(--grey);
    color: black;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.card__border a:hover {
    background: green;
    color: white;
    box-shadow: none;
    box-shadow: 0px 0px 10px green;
}
footer {
    background-color: white;
    border-top: solid 2px #d62828;
    border-bottom: solid 2px var(--blue);
}
footer p {
    color: black;
    text-align: center;
    padding: 20px;
    font-family: var(--topTitle);
    font-weight: 800;
    font-size: 18px;
}

@media only screen and (max-width: 450px) {
    .title__img img{
        height: 150px;
        width: 240px;
    }
    .card {
        width: 180px;
        height: 250px;
    }
    .card__border {
        width: 160px;
        height: 230px;
    }
    .card__border h2 {
        font-size: 18pt;
        padding: 20px 20px 90px 20px;
    }
}